# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 10
b = 10

print(a == b)

print(a is b)

True
True

*місце для текстової відповіді

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
var = True

print(isinstance(var, bool))
print(isinstance(var, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [4]:
a = 5
b = 10.5

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)

15.5
-5.5
52.5
0.47619047619047616
0.0
21836601.342771385

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [5]:
print(int(b))

c = True

print(int(c))

10
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ""
str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [6]:
strAp1 = "'"
strAp2 = r"'"

print(strAp1)
print(strAp2)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [7]:
surname = "Kozak"
formatted = f"My surname is {surname}"

print(formatted)

My surname is Kozak

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [9]:
str = "My dog is crazy."
newStr = str.lower().replace(".", "").split()

print(newStr)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [18]:
list1 = [1,2,3]
list2 = list((1,2,3,4))

print(len(list2))

4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [19]:
list1 = [1,2,3]
list2 = list((1,2,3,4))
list1.append(list2)

print(list1)

[1, 2, 3, [1, 2, 3, 4]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [20]:
listOfLists = [[1,2],[3,4]]

print(listOfLists[-1][0])

3

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [22]:
list10 = [1,"str",3.5,True,[5,6],"seven",7,8,9,10]

list6 = list10[2:-2]

print(list6)

[3.5, True, [5, 6], 'seven', 7, 8]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [23]:
singuple = (1,)

print(singuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список та кортеж обоє містять послідовний набір елементів.
Список може бути зміниним після творення, кортеж - ні.
Список варто використовувати коли є необхідність змінювати вміст під час роботи з ним.
Кортеж коли дані повинні бути незмінними.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [25]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
tuple2 = tuple1[-2::-2]

print(tuple2)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
newSet = set()

newSet.add(1)
newSet.add(2.2)
newSer.add("Three")

Так

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [27]:
my_list = [1, 1, 2, 67, 67, 8, 9]
listSet = set(my_list)

print(listSet)

{1, 2, 67, 8, 9}

Зникли елементи, які повторяються

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [31]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.union(set2))
print(set1.difference(set2))
print(set1.intersection(set2))
print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [32]:
dictionary = {}

dictionary[1] = 1
dictionary[2.2] = 2
dictionary["Three"] = 3
dictionary[(4,5)] = 4

print(dictionary)

{1: 1, 2.2: 2, 'Three': 3, (4, 5): 4}

Ні, тому що список не є незмінним

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [33]:
dict1 = {1: 1, 2: 2, 3: 3}
dict2 = {1: dict1, 2: 2}
dict3 = {2: dict2}

print(dict3[2][1])

{1: 1, 2: 2, 3: 3}

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.